#Project folder
/build/*
/dist/* 
/lib/

#CMAKE
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#PYTHON
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.coverage
*.egg-info*
/.venv

#NOTEBOOK
*.ipynb_checkpoints*

#VS CODE
/.vscode/*
